.profile {
  height: 400px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  background-color: #a4acc7;
  background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.avatar .profile-name {
  margin-top: 0;
  text-align: center;
}