nav {
  /* Color */
  background-color: #4056A1;
  color: #FFF;
  /* Display */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  /* Positioning */
  position: fixed;
  top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.new-tweet-nav {
  /* Text */
  font-family: 'Source Sans Pro', sans-serif;
  /* Display */
  display: flex;
  align-items: center;
  flex-direction: column;
  float: right;
}

.chevron img {
  height: 0.8em;
}