.new-tweet {
  display: none;
}

.label-tweet {
  /* Text */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

textarea {
  /* Text */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /* Color */
  background: transparent;
  color: #545149;
  /* Display */
  display: flex;
  outline: none;
  border: none;
  resize: none;
  margin-top: 8px;
  padding-top: 1em;
  border-bottom: solid 4px #545149;
  height: 40px;
  width: 100%;
}

span {
  /* Display */
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1em;
}

button {
  /* Text */
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  /* Color */
  background-color: #4056A1;
  color: #ffffff;
  /* Display */
  border: none;
  margin: 4px 1px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  /* Other */
  cursor: pointer;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.error-message img {
  height: 25px;
  margin: 0px 10px 0px 10px;
}

.error-message {
  /* Text */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /* Color */
  color: #ff0000;
  /* Display */
  align-items: center;
  border: 2px solid #ff0000;
  display: none;
  margin: 16px;
  justify-content: center;
  padding: 5px;
}