article {
  /* Display */
  margin-bottom: 2em;
  border: 4px solid #545149;
  overflow: auto;
}
article footer {
  /* Display */
  display: flex;
  border: none;
  border-top: 4px solid #545149;
  justify-content: space-between;
  margin: 2%;
  padding: 0.5em;
  overflow: auto;
}

article span {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

article div {
  /* Text */
  font-size: 14px;
  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

div p {
  display: flex;
}

article img {
  /* Display */
  height: 80px;
  padding: 10px;
}

p {
  /* Text */
  font-size: 18px;
  /* Display */
  margin: 18px;
}

footer p {
  /* Text */
  font-size: 14px;
  /* Display */
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

footer img {
  /* Display */
  padding: 3px;
  display: flex;
  height: 20px;
}

/* Hover state */

article:hover {
  box-shadow: 8px 10px #a4acc7;
}

article:hover div {
  font-weight: bold;
}